.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
}

.petrobras {
    float: left;
    margin-left: 0;
}

.fiat {
    float: right;
    margin-right: 0;
}

.citacao-bio {
    transition: box-shadow 1s, transform 1s;
    transition-delay: 1s, 0s;
}

.citacao-bio:hover,
.citacao-bio:focus {
    transition: 800ms all;
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
    transition-delay: 0s, 1s;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}

.citacao-bio > p {
    position: relative;
}

.citacao-bio::before {
    content: '“';
    position: absolute;
    font-size: 10em;
    color: #bbb;
}

.container > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}


.icones-redes-sociais a:hover::before,
.icones-redes-sociais a:focus::before {
    content: '';
    width: 1em;
    height: 1em;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(.5em) rotate(45deg);
}

 {
    background-color: #851944;
    font-weight: bold;
}

table {
     border-spacing: 3px;
    border-collapse: separate;  
}

th {
    background-color: #3C1D3D;
    color: #fff;
    font-weight: bold;
    padding: .5em;
}

.habilidades {
    background-color: #851944;
    font-weight: bold;
    color: #fff;
    border: none;
}

.habilidades [colspan] {
    text-align: center;
    font-style: italic;
}

.habilidades [rowspan] {
    vertical-align: middle;
}

tr td {
    background-color: #EEE;
    text-align: center;
    border: 1px solid; 
    padding: .5em;

}
