.leia-mais {
    padding: .5em;
    margin: 1em;
    display: block;
    font-size: 1.5em;
    text-align: center;
    background-color: #E6E7E8;
}

.post-blog {
    padding-bottom: 1.5em;
    margin-bottom: 1em;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1), rgba(200, 200, 200, 0));
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.post-blog + .post-blog {
    /* trocamos padding-bottom e margin-bottom por
        padding-top e margin-top */
    padding-top: 1em;
    margin-top: 1.5em;
    background-image: linear-gradient(to right, 
        rgba(200, 200, 200, 0), 
        rgba(200, 200, 200, 1), 
        rgba(200, 200, 200, 0)
    );
    background-size: 100% 1px;
    background-repeat: no-repeat;
    /* trocamos "bottom center" por "top center" */
    background-position: top center;
}

.blog a:hover + .inicio-post,
.blog a:focus + .inicio-post {
    display: block;
}

.blog a:hover,
.blog a:focus {
    background-color: #F2FFFC;
    color: #F26;
}

.icones-redes-sociais a {
    position: relative;
}

.icones-redes-sociais a:hover::after,
.icones-redes-sociais a:focus::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    right: 0;
    text-indent: 0;
    width: 300%;
    background: black;
    font-size: .75em;
}

