label[for] {
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    /* Força o navegador a usar a mesma fonte da página */
    font-family: inherit;
    /* Inclusive o tamanho dela */
    font-size: 100%;
    padding: .25em .5em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

fieldset > fieldset {
    display: inline;
}

label[for="outro"] {
    display: inline;
}

input[name="outro-assunto"] {
    width: auto;
}

input:focus,
textarea:focus {
    background-color: #FFD;
}

input:invalid {
    box-shadow: 0 0 3px red;
}

button {
    border: 0;
    padding: .5em 1em;
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #3C1D3D;
    color: white;
    font-size: 1.2em;
    float: right;
}

button:hover,
button:focus {
    background-color: #8C1D3D;
}

.com-icone {
    position: relative;
}

.com-icone::after {
    content: ''; /*nunca esquecer do content em pseudoclasses*/
    width: 2em;
    height: 2em;
    background-color: #8C1D3D;
    background-size: 50% 50%; /* para a imagem ter 1em x 1em */
    background-position: center center;
    background-repeat: no-repeat;
}

.com-icone::after {
    position: absolute;
    top: 100%;
    left: 0;
}

.com-icone + input {
    position: relative;
    left: 2em;
    width: calc(100% - 2em);
}

.com-icone[for="nome"]::after {
    background-image: url(../imagens/usuario.png);
}

.com-icone[for="email"]::after {
    background-image: url(../imagens/email.png);
}

